<div class="edit-content">
  <form action="/customer/search" method="GET">
    <h2>Choose Customer:</h2>
    <input type="text" name="searchTerm" placeholder="Search By..." required>
    <button>Search</button>
  </form>
  
</div>