<header>
<div class = "announcementBar">
  <h2>Discover Favourite Treats & Local Treasures From The Rock!</h2>
</div>
  <div class ="banner">
    <img src = "/images/nlbanner.png" alt = "Newfoundland Banner" class = "bannerImg" />
  </div>
</header>