<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Newfie Nook</title>
  <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
  <!-- Include Nav Partial -->
  <%- include('partials/nav') %>

  <!-- Include Header Partial -->
  <%- include('partials/header') %>

  <div class="home">
  <!-- Include Product List-->
  <%- include('partials/products') %>
  </div>

  <!-- Include Footer Partial -->
  <%- include('partials/footer') %>
<script type="module" src="/scripts/scripts.js"></script>
</body>
</html>